.vscode/
python/__pycache__/
python/tempFiles/

python/__pycache__/API.cpython-37.pyc
python/__pycache__/helper.cpython-37.pyc
python/__pycache__/query.cpython-37.pyc
python/__pycache__/timeline_object.cpython-37.pyc
